<h1>Registered Applications</h1>


  <div class="table-responsive">
    <table class="table table-hover">
      <thead>
        <tr>
          <th> Application Name </th>
          <th> URL</th>
        </tr>
      </thead>
      <tbody>
        <tr >
          <%=  @user.registered_applications.each do |regapps| %>
          <p><%= link_to registered_application.title, registered_application_path(registered_application.id) %></p>
          <% end %>
        </tr>
        <tr>
          <%= button_to "New Application", new_registered_application(@user.registered_application), class: 'btn btn-success' %>
        </tr>
      </tbody>
    </table>
  </div>
